{% extends "base.html" %}

{% block content %}
<div class="row mb-4 animate__animated animate__fadeIn">
    <div class="col-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
                <i class="fa-solid fa-briefcase text-secondary me-2"></i> New Case
            </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/" class="text-decoration-none"><i class="fa-solid fa-tachometer-alt"></i> Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url "list_cases"%}" class="text-decoration-none"><i class="fa-solid fa-briefcase"></i> Cases</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <form action="{% url "new_case" %}" method="POST">{% csrf_token %}
                    {%include "layout/_form.html"%}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}