<div>
    <ul class="nav nav-pills mb-3" id="tasksTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tasks-tab" data-bs-toggle="pill" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="true">Tasks</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="owned-tab" data-bs-toggle="pill" data-bs-target="#owned" type="button" role="tab" aria-controls="owned" aria-selected="false">Owned</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="others-tab" data-bs-toggle="pill" data-bs-target="#others" type="button" role="tab" aria-controls="others" aria-selected="false">Not owned</button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tasks">
            <table class="table table-bordered table-striped responsive datatables" >
                <thead>
                    <tr>
                        <th>File name</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Submitted at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td> 
                        {% if task.state == "C" %} 
                            <a href="{% url "show_analysis" task.id %}">{{ task.file_name }}</a> 
                        {% else %}
                            {{ task.file_name }}
                        {% endif %} 
                        </td>
                        <td>{{ task.get_state_display }}</td>
                        <td>{{ task.owner.username }}</td>
                        <td>{{ task.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="owned">
            <table class="table table-bordered table-striped responsive datatables">
                <thead>
                    <tr>
                        <th>File name</th>
                        <th>Status</th>
                        <th>Submitted at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td> 
                        {% if task.state == "C" %} 
                            <a href="{% url "show_analysis" task.id %}">{{ task.file_name }}</a> 
                        {% else %}
                            {{ task.file_name }}
                        {% endif %} 
                        </td>
                        <td>{{ task.get_state_display }}</td>
                        <td>{{ task.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="others">
            <table class="table table-bordered table-striped responsive datatables">
                <thead>
                    <tr>
                        <th>File name</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Submitted at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td> 
                        {% if task.state == "C" %} 
                            <a href="{% url "show_analysis" task.id %}">{{ task.file_name }}</a> 
                        {% else %}
                            {{ task.file_name }}
                        {% endif %} 
                        </td>
                        <td>{{ task.get_state_display }}</td>
                        <td>{{ task.owner.username }}</td>
                        <td>{{ task.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>