{% extends "base.html" %}

{% block content %}
<div class="row mb-4 animate__animated animate__fadeIn">
    <div class="col-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
                <i class="fa-solid fa-search text-secondary me-2"></i> Search 
                <small class="text-muted fs-6">Find analyses</small>
            </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/" class="text-decoration-none"><i class="fa-solid fa-tachometer-alt"></i> Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% include "layout/_searchForm.html" with in_case_id=False %}
    </div>
</div>
{% endblock %}
