<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" id="side-dashboard" href="/">
            <i class="fa-solid fa-tachometer-alt me-2"></i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="side-cases" href="{% url "list_cases" %}">
            <i class="fa-solid fa-briefcase me-2"></i>
            Cases
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="side-images" href="{% url "list_images" "list" %}">
            <i class="fa-solid fa-images me-2"></i>
            Images
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="side-tags" href="{% url "list_tags" %}">
            <i class="fa-solid fa-tags me-2"></i>
            Tags
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="side-search" href="{% url "search" "form" %}">
            <i class="fa-solid fa-search me-2"></i>
            Search
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="side-hashes" href="{% url "list_hashes" %}">
            <i class="fa-solid fa-table me-2"></i>
            Hashes
        </a>
    </li>
    {% if request.user.is_staff or request.user.is_superuser %}
    <li class="nav-item mt-3">
        <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Administration</span>
        </h6>
        <a class="nav-link" id="side-admin" href="{% url "admin_list_users" %}">
            <i class="fa-solid fa-users-cog me-2"></i>
            Users
        </a>
    </li>
    {% endif %}
</ul>

<script type="text/javascript">
    // Simple active state handler based on the session variable provided by Django context
    document.addEventListener("DOMContentLoaded", function () {
        var activeId = "{{ request.session.sidebar_active }}";
        if (activeId) {
            var el = document.getElementById(activeId);
            if (el) {
                el.classList.add("active");
            }
        }
    });
</script>